<section class="hero">
	<div class="hero-body">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<div class="columns featured-post is-multiline">
				<div class="column is-12 post">
					<article class="columns featured">
					<div class="column is-one-third is-full-mobile post-img is-shady ">
						<img class="is-shady" src='{{book.volumeInfo.imageLinks.large}}' alt='' >
					</div>
					<div class="column is-two-third is-full-mobile featured-content va">
						<div>
						<h2 class="heading post-category">{{book.volumeInfo.authors}}</h2>
						<h1 class="title post-title">{{book.volumeInfo.title}}</h1>
						<h3 class="heading post-category">{{book.volumeInfo.subtitle}}</h3>
						<h4 class="heading post-category">{{book.volumeInfo.categories}}</h4>
						<hr>
						<p class="post-excerpt">{{{book.volumeInfo.description}}}</p>
						<br>
                  <a class="button is-info is-light js-modal-trigger" data-target="addToCollection">Add to Collection</a>
                  <a class="button is-success is-light">Add to Favourites</a>
						</div>
					</div>
					</article>
                  <a class="button is-danger is-light" href="javascript:history.back()" class="button">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{!-- 
<section class='hero' >
   <div class='hero-body' >
      <div class='container columns' >
         <section class="column is-5-tablet is-10-mobile">
            <div class='columns is-flex is-justify-content-center '>
               <div class='column is-4 '>
                  <figure class='image is-4by5'>
                     <img src='{{book.volumeInfo.imageLinks.large}}' alt='' />
                  </figure>
               </div>
            </div>
            <div class='content is-medium is-flex is-justify-content-center '>
               <div class="buttons is-flex is-justify-content-center ">
                  <a class="button is-info is-medium js-modal-trigger" data-target="addToCollection">Add to Collection</a>
                  <a class="button is-success is-medium">Add to Favourites</a>
               </div>
            </div>
         </section>
         <section class='section column is-7-tablet is-10-mobile' >
            <div class='columns is-flex is-justify-content-center p-6 is-rounded' style="background: white;" >
               <div class='column is-8 ' >
                  <div class='content is-medium'>
                     <h2 class='subtitle is-4'>{{book.volumeInfo.authors}}</h2>
                     <h1 class='title  '>{{book.volumeInfo.title}}</h1>
                     <i>
                        <h4 class="subtitle ">{{book.volumeInfo.subtitle}}</h4>
                     </i>
                     <i>
                        <h5 class='subtitle  is-5 '>
                        {{book.volumeInfo.categories}}</h4>
                     </i>
                     <p class='subtitle mt-6 '>{{{book.volumeInfo.description}}}</p>
                  </div>
               </div>
            </div>
            <div class="buttons  is-flex is-justify-content-center ">
               <a class="button is-danger is-medium" href="javascript:history.back()" class="button">Go Back</a>
            </div>
         </section>
      </div>
   </div>
</section> --}}

<form action="/books/{{book.id}}/add" method="POST">
   <div class="modal" id="addToCollection">
      <div class="modal-background"></div>
      <div class="modal-content">
         <div class="modal-background"></div>
         <div class="modal-card">
            <header class="modal-card-head">
               <p class="modal-card-title">Add to Collection</p>
               <span class="delete update-modal-close" aria-label="close"></span>
            </header>
            <section class="modal-card-body is-flex is-justify-content-center" style="min-height: 30vh;">
               <div class="field">
                  <div class="select is-medium">
                     <select name="name">
                        <option hidden> Your Collections</option>
                        {{#each userData.collections}}
                          <option value="{{name}}">{{name}}</option>
                        {{/each}}
                     </select>
                  </div>
               </div>
            </section>
            <footer class="modal-card-foot is-flex is-justify-content-center">
               <button id="save" class="button is-success is-medium" type="submit">Save changes</button>
               <span class="button update-modal-close is-medium">Cancel</span>
               <a class="button is-info  js-modal-trigger is-medium" data-target="createCollection">Create a Collection</a>
            </footer>
         </div>
      </div>
   </div>
</form>
<form action='/collections/create' method='POST'>
	<div class='modal' id='createCollection'>
		<div class='modal-background'></div>
		<div class='modal-content'>
			<div class='modal-background'></div>
			<div class='modal-card'>
				<header class='modal-card-head'>
					<p class='modal-card-title'>Add to Collection</p>
					<span class='delete update-modal-close' aria-label='close'></span>
				</header>
				<section class='modal-card-body'>
					<div class='field'>
						<label class='label'>Collection Name</label>
						<input type='text' id='update-text' name='name' class='input  is-medium' value='' />
					</div>
					<div class='field'>
						<label class='label'>Description</label>
						<textarea class='textarea has-fixed-size is-medium' name='description'></textarea>
					</div>
				</section>
				<footer class='modal-card-foot'>
					<button id='save' class='button is-success  is-medium' type='submit'>Save changes</button>
					<span class='button update-modal-close js-modal-trigger is-medium' data-target="addToCollection">Cancel</span>
				</footer>
			</div>
		</div>
	</div>
</form>
