<section class='hero' >
   <div class='hero-body' >
      <div class='container ' >
         <div class='columns is-flex is-justify-content-center '>
            <div class='column is-4 '>
               <figure class='image is-4by5'>
                  <img src='{{book.volumeInfo.imageLinks.large}}' alt='' />
               </figure>
            </div>
         </div>
         <div class='content is-medium is-flex is-justify-content-center '>
            <div class="buttons">
               <a href="{{book.imageLinks.previewLink}}" class="button is-warning is-medium">Preview</a>
               <a href="#" class="button is-info is-medium js-modal-trigger" data-target="addToCollection">Add to Collection</a>
               <a href="#" class="button is-success is-medium">Add to Favourites</a>
            </div>
         </div>
         <section class='section' >
            <div class='columns is-flex is-justify-content-center p-6 is-rounded' style="background: white;" >
               <div class='column is-8 ' >
                  <div class='content is-medium'>
                     <h2 class='subtitle is-4'>{{book.volumeInfo.authors}}</h2>
                     <h1 class='title  '>{{book.volumeInfo.title}}</h1>
                     <i>
                        <h4 class="subtitle ">{{book.volumeInfo.subtitle}}</h4>
                     </i>
                     <i>
                        <h5 class='subtitle  is-5 '>
                        {{book.volumeInfo.categories}}</h4>
                     </i>
                     <p class='subtitle mt-6 '>{{{book.volumeInfo.description}}}</p>
                  </div>
               </div>
            </div>
            <div class="buttons is-flex is-justify-content-center">
               <a href="{{book.imageLinks.previewLink}}" class="button is-warning is-medium">Preview</a>
               <a href="#" class="button is-info is-medium js-modal-trigger" data-target="addToCollection">Add to Collection</a>
               <a href="#" class="button is-success is-medium">Add to Favourites</a>
            </div>
            <div class="buttons  is-flex is-justify-content-center ">
               <a class="button is-danger is-medium" href="javascript:history.back()" class="button">Go Back</a>
            </div>
         </section>
      </div>
   </div>
</section>

<form action="/books/{{book.id}}/add" method="POST">
   <div class="modal" id="addToCollection">
      <div class="modal-background"></div>
      <div class="modal-content">
         <div class="modal-background"></div>
         <div class="modal-card">
            <header class="modal-card-head">
               <p class="modal-card-title">Add to Collection</p>
               <span class="delete update-modal-close" aria-label="close"></span>
            </header>
            <section class="modal-card-body" style="min-height: 30vh;">
               <div class="field">
                  <div class="select">
                     <select name="name">
                        <option hidden> Your Collections</option>
                        {{#each userData.collections}}
                          <option value="{{name}}">{{name}}</option>
                        {{/each}}
                     </select>
                  </div>
               </div>
            </section>
            <footer class="modal-card-foot">
               <button id="save" class="button is-success" type="submit">Save changes</button>
               <span class="button update-modal-close">Cancel</span>
            </footer>
         </div>
      </div>
   </div>
</form>
