<section class="hero">
	<div class="hero-body">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<div class="columns featured-post is-multiline">
				<div class="column is-12 post">
					<article class="columns featured">
					<div class="column is-one-third is-full-mobile post-img is-shady ">
						<img class="" src='{{book.volumeInfo.imageLinks.large}}' alt='' >
                  <br>
                  <br>
                  <a class="button is-danger is-light" href="javascript:history.back()" class="button">Back</a>
                  {{#if session.currentUser}}
                      <a class="button is-info is-light js-modal-trigger" data-target="addToCollection">Add to Collection</a>
                     {{#if favourite}}
                        <form class='button p-0' action='/profile/{{book.id}}/unfavourite' method='POST' style='margin:0;'>
                           <button class='button is-light is-danger'>Remove from Favourites</button>
                        </form>
                     {{else}}
                        <form class='button p-0' action='/profile/{{book.id}}/favourite' method='POST' style='margin:0;'>
                           <button class="button is-light is-success">Add to Favourites</button>
                        </form>
                     {{/if}}
                  {{/if}}
					</div>
					<div class="column is-two-third is-full-mobile featured-content va">
						<div>
						<h2 class="heading post-category">{{book.volumeInfo.authors}}</h2>
						<h1 class="title post-title">{{book.volumeInfo.title}}</h1>
						<h3 class="heading post-category">{{book.volumeInfo.subtitle}}</h3>
						<h4 class="heading post-category">{{book.volumeInfo.categories}}</h4>
						<hr>
						<p class="post-excerpt">{{{book.volumeInfo.description}}}</p>
						</div>
					</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>

<form action="/books/{{book.id}}/add" method="POST">
   <div class="modal" id="addToCollection">
      <div class="modal-background"></div>
      <div class="modal-content">
         <div class="modal-background"></div>
         <div class="modal-card">
            <header class="modal-card-head">
               <p class="modal-card-title">Add to Collection</p>
               <span class="delete update-modal-close" aria-label="close"></span>
            </header>
            <section class="modal-card-body is-flex is-justify-content-center" style="min-height: 30vh;">
               <div class="field">
                  <div class="select is-medium">
                     <select name="name">
                        <option hidden> Your Collections</option>
                        {{#each data.collections}}
                          <option value="{{name}}">{{name}}</option>
                        {{/each}}
                     </select>
                  </div>
               </div>
            </section>
            <footer class="modal-card-foot is-flex is-justify-content-center">
               <button id="save" class="button is-success is-medium" type="submit">Save changes</button>
               <span class="button update-modal-close is-medium">Cancel</span>
               <a class="button is-info  js-modal-trigger is-medium" data-target="createCollection">Create a Collection</a>
            </footer>
         </div>
      </div>
   </div>
</form>
