<div class='container is-flex is-justify-content-center my-6'>
	<form action='/books' method='GET'>
		<div class='field has-addons'>
			<div class='control'>
				<p class='control has-icons-left has-icons-right'>
					<input class='input is-medium' type='text' placeholder='Search' name='search' value='' />
					<span class='icon is-small is-left'>
						<i class='fas fa-search'></i>
					</span>
				</p>
			</div>
			<div class='control'>
				<button class='button is-info is-medium'>Search</button>
			</div>
		</div>
	</form>
</div>

{{#if books}}
	<section class='container'>
		<div class='columns features is-flex is-flex-wrap-wrap'>
			{{#each books}}
				<div class='column is-3 modal-button' data-target='modal-card'>
					<div class='card is-shady'>
						<div class='card-image'>
							<figure class='image is-4by5'>
								<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{volumeInfo.title}}' />
							</figure>
						</div>
						<div class='card-content'>
							<div class='content'>
								<h4
									style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis '
								>{{volumeInfo.title}}</h4>
								<p
									style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis'
								>{{volumeInfo.authors}}</p>
								<div class='buttons'>
									<a href='/books/{{id}}' class='button is-warning modal-button'>Details</a>
									<a
										class='button is-info js-modal-trigger'
										data-target='addToCollection'
										data-book-id='{{id}}'
										onclick='event.preventDefault(); setBookId("{{id}}");'
									>
										Add to Collection
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</section>
{{/if}}

<form action='/books/add' method='POST'>
	<input type='hidden' name='bookId' id='bookId' value='' />
	<div class='modal' id='addToCollection'>
		<div class='modal-background'></div>
		<div class='modal-content'>
			<div class='modal-background'></div>
			<div class='modal-card'>
				<header class='modal-card-head'>
					<p class='modal-card-title'>Add to Collection</p>
					<span class='delete update-modal-close' aria-label='close'></span>
				</header>
				<section class='modal-card-body is-flex is-justify-content-center' style='min-height: 30vh;'>
					<div class='field'>
						<div class='select is-medium'>
							{{! Select which collection to add book to }}
							<select name='name'>
								<option hidden> Your Collections</option>
								{{#each userData.collections}}
									<option value='{{name}}'>{{name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</section>
				<footer class='modal-card-foot is-flex is-justify-content-center'>
					<button id='save' class='button is-success is-medium' type='submit'>Save changes</button>
					<span class='button update-modal-close is-medium'>Cancel</span>
					<a class='button is-info js-modal-trigger is-medium' data-target='createCollection'>Create a Collection</a>
				</footer>
			</div>
		</div>
	</div>
</form>

<form action='/collections/create' method='POST'>
	<div class='modal' id='createCollection'>
		<div class='modal-background'></div>
		<div class='modal-content'>
			<div class='modal-background'></div>
			<div class='modal-card'>
				<header class='modal-card-head'>
					<p class='modal-card-title'>Add to Collection</p>
					<span class='delete update-modal-close' aria-label='close'></span>
				</header>
				<section class='modal-card-body'>
					<div class='field'>
						<label class='label'>Collection Name</label>
						<input type='text' id='update-text' name='name' class='input is-medium' value='' />
					</div>
					<div class='field'>
						<label class='label'>Description</label>
						<textarea class='textarea has-fixed-size is-medium' name='description'></textarea>
					</div>
				</section>
				<footer class='modal-card-foot'>
					<button id='save' class='button is-success is-medium' type='submit'>Save changes</button>
					<span class='button update-modal-close js-modal-trigger is-medium' data-target='addToCollection'>Cancel</span>
				</footer>
			</div>
		</div>
	</div>
</form>

<script>
	function setBookId(bookId) { document.getElementById('bookId').value = bookId; }
</script>
