<div class='columns'>
	<div class='container profile'>
		<div class='section profile-heading'>
			<div class='columns is-mobile is-multiline'>
				<div class='column is-2-tablet is-10-mobile'>
					<span class='header-icon user-profile-image'>
						<img
							alt=''
							src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFUP-U9gUQt9OpY50pMStfMMbZj0l3JMCnNQ&usqp=CAU'
						/>
					</span>
				</div>

				<div class='column is-8-tablet is-10-mobile name'>
					<p>
						<span class='white title is-bold'>{{name}}</span>
					</p>
					<p class='tagline'>
						{{description}}
					</p>
                    <a
                        class='button is-primary mt-4 px-6 is-small js-modal-trigger'
                        data-target='editCollection'
                        id='edit-preferences'
                        style='margin: 5px 0'
                    >
                        Edit Collection
                    </a>
                    <a
                        class='button is-primary mt-4 px-6 is-small js-modal-trigger'
                        data-target=''
                        id='edit-preferences'
                        style='margin: 5px 0'
                    >
                        Edit Picture
                    </a>
                    <a
                        class='button is-primary mt-4 px-6 is-small js-modal-trigger'
                        href="/collections/{{this._id}}/delete"
                        id='edit-preferences'
                        style='margin: 5px 0'
                    >
                        Delete Collection
                    </a>
				</div>
				<div class='column is-2-tablet is-10-mobile has-text-centered'>
					<p class='stat-val'>{{books.length}}</p>
					<p class='stat-key'>Books</p>
				</div>
				{{!-- <div class='column is-2-tablet is-4-mobile has-text-centered'>
					<p class='stat-val'>{{collections.length}}</p>
					<p class='stat-key'>Collections</p>
				</div> --}}
				{{!-- <div class='column is-2-tablet is-4-mobile has-text-centered'>
					<p class='stat-val'>3</p>
					<p class='stat-key'>Reviews</p>
				</div> --}}
			</div>
		</div>
		<div class='columns is-mobile is-flex is-flex-wrap-wrap'>
			{{#each books}}
				<div class='column is-3 modal-button' data-target='modal-card'>
						<div class='card is-shady'>
							<div class='card-image'>
								<figure class='image is-4by5'>
									<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{volumeInfo.title}}' />
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<h4
										style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis '
									>{{volumeInfo.title}}</h4>
									<p
										style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis'
									>{{volumeInfo.authors}}</p>
									<a href='/books/{{id}}' class='button is-warning modal-button'>Details</a>
								</div>
							</div>
						</div>
					</div>
			{{/each}}
		</div>

	</div>
</div>

<form action='/collections/{{this._id}}/edit' method='POST'>
	<div class='modal' id='editCollection'>
		<div class='modal-background'></div>
		<div class='modal-content'>
			<div class='modal-background'></div>
			<div class='modal-card'>
				<header class='modal-card-head'>
					<p class='modal-card-title'>Edit Collection</p>
					<span class='delete update-modal-close' aria-label='close'></span>
				</header>
				<section class='modal-card-body'>
					<div class='field'>
						<label class='label'>Collection Name</label>
						<input type='text' id='update-text' name='name' class='input' value='{{name}}' />
					</div>
					<div class='field'>
						<label class='label'>Description</label>
						<textarea class='textarea has-fixed-size' name='description'>{{description}}</textarea>
					</div>
				</section>
				<footer class='modal-card-foot'>
					<button id='save' class='button is-success' type='submit'>Save changes</button>
					<span class='button update-modal-close'>Cancel</span>
				</footer>
			</div>
		</div>
	</div>
</form>
