<div class='columns'>
	<div class='container profile'>
		<div class='section profile-heading'>
			<div class='columns is-mobile is-multiline'>
				<div class='column is-2-tablet is-10-mobile'>
					<span class='header-icon user-profile-image'>
						<img alt='' src='{{collection.imageUrl}}' />
					</span>
				</div>

				<div class='column is-6-tablet is-10-mobile name'>
					<p>
						<span class='white title is-bold'>{{collection.name}}</span>
					</p>
					<hr />
					<p class='tagline'>
						{{collection.description}}
					</p>
				</div>
				<div class='column is-2-tablet is-10-mobile has-text-centered'>
					<p class='stat-val'>{{collection.books.length}}</p>
					<p class='stat-key'>Books</p>
				</div>
				<div class='column is-2-tablet is-10-mobile has-text-centered'>
                    {{#if verificationObject.property}}
					<a
						class='button is-light is-fullwidth is-small js-modal-trigger'
						data-target='editCollection'
						style='margin: 10px 0'
					>
						Edit Collection
					</a>
					<a
						class='button is-light is-fullwidth is-small js-modal-trigger'
						data-target='coverModal'
						style='margin: 10px 0'
					>
						Edit Picture
					</a>
					<a
						class='button is-light is-fullwidth is-small js-modal-trigger'
						data-target='deleteCollection'
						style='margin: 10px 0'
					>
						Delete Collection
					</a>
                    {{/if}}
					<a
						class='button is-light is-fullwidth is-small js-modal-trigger'
						href="javascript:history.back()"
						style='margin: 10px 0'
					>
						Back
					</a>
				</div>
			</div>
		</div>
		<div class='columns is-mobile is-flex is-flex-wrap-wrap'>
			{{#each books}}
				<div class='column is-3 modal-button' data-target='modal-card'>
					<div class='card is-shady'>
						<div class='card-image'>
							<figure class='image is-4by5'>
								<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{volumeInfo.title}}' />
							</figure>
						</div>
						<div class='card-content'>
							<div class='content'>
								<h4
									style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis '
								>{{volumeInfo.title}}</h4>
								<p
									style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis'
								>{{volumeInfo.authors}}</p>

								<div class='buttons'>
									<a target='_blank' href='/books/{{id}}' class='button is-warning is-light modal-button'>Details</a>
							        <a class='button is-danger is-light modal-button js-modal-trigger' data-target='deleteBookForm-{{id}}'>Delete</a>
                                    {{!-- {{#if verificationObject.property}}
                                    {{/if}} --}}
								</div>
							</div>
						</div>
					</div>
				</div>
                <form action='/books/{{id}}/delete' method='POST'>
					<div class='modal' id='deleteBookForm-{{id}}'>
						<div class='modal-background'></div>
						<div class='modal-content'>
							<div class='modal-background'></div>
							<div class='modal-card'>
								<header class='modal-card-head'>
									<p class='modal-card-title'>Delete book from collection</p>
									<span class='delete update-modal-close' aria-label='close'></span>
								</header>
								<section class='modal-card-body'>
									<div class='field'>
										<label class='label'>
											Are you sure you want to delete {{volumeInfo.title}}
										</label>
									</div>
								</section>
								<footer class='modal-card-foot'>
									<button id='save' class='button is-success' type='submit'>Delete</button>
									<span class='button update-modal-close'>Cancel</span>
								</footer>
							</div>
						</div>
					</div>
				</form>
			{{/each}}
		</div>
	</div>
</div>

<form action='/collections/{{this._id}}/edit' method='POST'>
	<div class='modal' id='editCollection'>
		<div class='modal-background'></div>
		<div class='modal-content'>
			<div class='modal-background'></div>
			<div class='modal-card'>
				<header class='modal-card-head'>
					<p class='modal-card-title'>Edit Collection</p>
					<span class='delete update-modal-close' aria-label='close'></span>
				</header>
				<section class='modal-card-body'>
					<div class='field'>
						<label class='label'>Collection Name</label>
						<input type='text' id='update-text' name='name' class='input' value='{{name}}' />
					</div>
					<div class='field'>
						<label class='label'>Description</label>
						<textarea class='textarea has-fixed-size' name='description'>{{description}}</textarea>
					</div>
				</section>
				<footer class='modal-card-foot'>
					<button id='save' class='button is-success' type='submit'>Save changes</button>
					<span class='button update-modal-close'>Cancel</span>
				</footer>
			</div>
		</div>
	</div>
</form>
<form action='/collections/{{this._id}}/edit-cover' method='post' enctype='multipart/form-data'>
	<div class='modal' id='coverModal'>
		<div class='modal-background'></div>
		<div class='modal-card'>

			<header class='modal-card-head'>
				<p class='modal-card-title'>Edit collection cover</p>
			</header>
			<section class='modal-card-body'>
                    <div class='control'>
                        <label class='label'>Image format must be jpg or png</label>
					<input type='file' name='cover' class='input' />
				</div>
			</section>
			<footer class='modal-card-foot'>
				<button class='button is-primary modal-save'>Save changes</button>
				<span class='button update-modal-close'>Cancel</span>
			</footer>
		</div>
	</div>
</form>
<form action='/collections/{{this._id}}/delete' method='POST'>
	<div class='modal' id='deleteCollection'>
		<div class='modal-background'></div>
		<div class='modal-content'>
			<div class='modal-background'></div>
			<div class='modal-card'>
				<header class='modal-card-head'>
					<p class='modal-card-title'>Delete Collection</p>
					<span class='delete update-modal-close' aria-label='close'></span>
				</header>
				<section class='modal-card-body'>
					<div class='field'>
						<label class='label'>
							Are you sure you want to delete
							{{name}}
						</label>
					</div>
				</section>
				<footer class='modal-card-foot'>
					<button id='save' class='button is-success' type='submit'>Delete</button>
					<span class='button update-modal-close'>Cancel</span>
				</footer>
			</div>
		</div>
	</div>
</form>