<div class='modal-card'>
	<form action="/profile/{{session.currentUser._id}}/edit" method="post">
		<header class='modal-card-head'>
			<p class='modal-card-title'>Edit Profil</p>

		</header>
		<section class='modal-card-body'>
			<label class='label'>Username</label>
			<p class='control has-icon has-icon-right'>
				<input class='input' placeholder='Username' type='text' name="username" value='{{username}}' />
			</p>
			<div class='control'>
				<div class='control-label is-pulled-left'>
					<label class='label'>Date of Birth</label>
				</div>
				<span>
					<span class='select'>
						<input type="date" class='input' name="birthday" value="{{birthday}}">
						{{!-- <select>
							<option>Day</option>
							<option>With options</option>
						</select> --}}
					</span>
					{{!-- <span class='select'>
						<select>
							<option>Month</option>
							<option>With options</option>
						</select>
					</span>
					<span class='select'>
						<select>
							<option>Year</option>
							<option>With options</option>
						</select>
					</span> --}}
				</span>
			</div>
			<label class='label'>Description</label>
			<p class='control'>
				<textarea class='textarea' placeholder='Describe Yourself!' name="description" value='{{description}}'></textarea>
			</p>
		</section>
		<footer class='modal-card-foot'>
			<button class='button is-primary modal-save'>Save changes</button>
			<a class='button modal-cancel'
			href='/profile/{{username}}'
			>Cancel</a>
		</footer>
	</form>
</div>