<div class='homepage'>

	{{#if session.currentUser}}
		<nav class='level'>
			<div class='level-item has-text-centered'>
				<div class='my-6'>

					<h1 class='subtitle is-1 my-6 white'>Welcome, {{session.currentUser.username}}</h1>

				</div>
			</div>

		</nav>
	{{/if}}
	<div class='container is-flex is-justify-content-center my-6'>
		<form action='/' method='GET'>
			<div class='field has-addons'>
				<div class='control'>
					<p class='control has-icons-left has-icons-right'>
						<input class='input is-medium' type='text' placeholder='Search' name='search' value='' />
						<span class='icon is-small is-left'>
							<i class='fas fa-search'></i>
						</span>
					</p>
				</div>
				<div class='control'>
					<button class='button is-info is-medium'>Search</button>
				</div>
			</div>
		</form>
	</div>
	{{#if books}}

		<section class='container'>
			<div class='columns features is-flex is-flex-wrap-wrap'>
				{{#each books}}
					<div class='column is-3 modal-button' data-target='modal-card'>
						<div class='card is-shady'>
							<div class='card-image'>
								<figure class='image is-1by1'>
									<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{volumeInfo.title}}' />
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<h4
										style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis '
									>{{volumeInfo.title}}</h4>
									<p
										style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis'
									>{{volumeInfo.authors}}</p>
									<a href='/books/{{id}}' class='button is-warning modal-button'>Details</a>
								</div>
							</div>
						</div>
					</div>

				{{/each}}
			</div>
		</section>
	{{/if}}
</div>
