<div class='homepage' id="home">
	<section class=" collumns ">
		<div class=" collumn is-half">
			<div class="container has-text-centered">
			<p id="homepageTitle" class="title pt-5 is-1 ">
				ChapterVerse
			</p>
			<p class="subtitle p-5 is-two-fifths white">
				Create collections of books to help you track the books you have, you want, you wanna read, you've read and more...
			</p>
			</div>
		</div>
	</section>
	<div class='container is-flex is-justify-content-center my-3 p-5'>
		<form action='/books' method='GET'>
			<div class='field has-addons'>
				<div class='control'>
					<p class='control has-icons-left has-icons-right'>
						<input class='input is-medium' type='text' placeholder='Search' name='search' value='' />
						<span class='icon is-small is-left'>
							<i class='fas fa-search'></i>
						</span>
					</p>
				</div>
				<div class='control'>
					<button class='button is-info is-medium'>Search</button>
				</div>
			</div>
		</form>
	</div>
	{{!-- <div class='is-flex is-justify-content-center'>
		<p class='white subtitle is-3 my-4'> Books you might find interesting </p>
	</div> --}}

	{{#if books}}
		<section class='container'>
			<div class='columns features is-flex is-flex-wrap-wrap'>
				{{#each books}}
					<div class='column is-3 modal-button' data-target='modal-card'>
						<div class='card is-shady'>
							<div class='card-image'>
								<figure class='image is-4by5'>
									<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{volumeInfo.title}}' />
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<h4
										style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis '
									>{{volumeInfo.title}}</h4>
									<p
										style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis'
									>{{volumeInfo.authors}}</p>
									<div class='buttons'>
										<a target='_blank' href='/books/{{id}}' class='button is-warning modal-button'>Details</a>
										<a
											class='button is-info js-modal-trigger'
											data-target='addToCollection'
											data-book-id='{{id}}'
											onclick='event.preventDefault(); setBookId("{{id}}");'
										>
											Add to Collection
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</section>
	{{/if}}

{{#if session.currentUser}}
{{> forms }}
{{/if}}

<script>
	function setBookId(bookId) { document.getElementById('bookId').value = bookId; }
</script>
