<div class='homepage'>

	{{#if session.currentUser}}
		<nav class='level'>
			<div class='level-item has-text-centered'>
				<div class='my-6'>

					<h1 class='subtitle is-1 my-6 white'>Welcome, {{session.currentUser.username}}</h1>

				</div>
			</div>

		</nav>
	{{/if}}
	<div class='container is-flex is-justify-content-center mt-6'>
		<form action='/' method='GET'>
			<div class='field has-addons'>
				<div class='control'>
					<p class='control has-icons-left has-icons-right'>
						<input class='input is-medium' type='text' placeholder='Search' name='search' value='' />
						<span class='icon is-small is-left'>
							<i class='fas fa-search'></i>
						</span>
					</p>
				</div>
				<div class='control'>
					<button class='button is-info is-medium'>Search</button>
				</div>
			</div>
		</form>
	</div>
	{{#if books}}
		<div class='columns is-centered is-flex is-flex-wrap-wrap'>
			{{#each books}}
				<div class='column is-2 m-6'>
					<div class='card'>
						<div class='card-image'>
							<figure class='image is-square'>
								<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{volumeInfo.title}}' />
							</figure>
						</div>
						<div class='card-content'>
							<div class='media'>
								<div class='media-left'>
									<figure class='image is-48x48'>
										<img src='{{volumeInfo.imageLinks.smallThumbnail}}' alt='{{volumeInfo.title}}' />
									</figure>
								</div>
								<div class='media-content'>
									<p class='subtitle is-5'>{{volumeInfo.title}}</p>
									<p class='subtitle is-6'>{{volumeInfo.authors}}</p>
								</div>
							</div>
							<div class='content'>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>
