<div class='columns'>
	<div class='container profile'>
		<div class='section '>
			<div class='columns is-mobile is-multiline'>
				<div class='column is-2'>
					<span class='header-icon user-profile-image'>
						<img class="is-rounded" alt='' src='{{data.imageUrl}}' />
					</span>
				</div>

				<div class='column is-3-tablet is-10-mobile name'>
					<p>
						<span class='white title is-bold'>{{data.username}}</span>
					</p>
					<hr style="height: 0.5px; margin-top: 0.5rem"/>
					<p class='tagline'>
						{{data.description}}
					</p>
					{{#if session.currentUser}}
						{{#if follow}}
							<form action='/profile/{{data._id}}/unfollow' method='POST' style='margin:0;'>
								<button class='button is-light mt-4 px-6 is-small'>Unfollow</button>
							</form>
						{{else}}
							<form action='/profile/{{data._id}}/follow' method='POST' style='margin:0;'>
								<button class='button is-light mt-4 px-6 is-small'>Follow</button>
							</form>
						{{/if}}
					{{/if}}
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{data.collections.length}}</p>
					<p class='stat-key'>Collections</p>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{booksNb}}</p>
					<p class='stat-key'>Books</p>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{data.favourites.length}}</p>
					<p class='stat-key'>Favourites</p>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{data.follows.length}}</p>
					<p class='stat-key'>Follows</p>
				</div>
			</div>
		</div>
		<div class='tabs is-fullwidth'>
			<ul>
				<li onclick="openTab(event,'collection')" class='tab link is-active no-hover'>
					<a class="profile-anchor no-hover">
						<span class='icon profile-icons'>
							<i class='fa fa-list profile-icons' ></i>
						</span>
						<span class="profile-icons white">My Collections</span>
					</a>
				</li>
				<li onclick="openTab(event,'books')" class='tab link no-hover'>
					<a class="no-hover profile-anchor">
						<span class='icon'>
							<i class="fa fa-heart" ></i>
						</span>
						<span class="profile-icons white">Favourites</span>
					</a>
				</li>
				<li onclick="openTab(event,'follows')" class='tab link no-hover'>
					<a class="no-hover profile-anchor">
						<span class='icon'>
							<i class="fa fa-light fa-user" ></i>
						</span>
						<span class="profile-icons white">Follows</span>
					</a>
				</li>
			</ul>
		</div>
		<div class='box' style='border-radius: 0px;'>
			<div class='columns'>

				<div class='column is-flex is-justify-content-center'>
					<div class='field has-addons'>
						<div class='control'>
							<p class='control has-icons-left has-icons-right'>
								<input class='input is-medium' placeholder='Search collections' type='text' />
								<span class='icon is-small is-left'>
									<i class='fas fa-search'></i>
								</span>
							</p>
						</div>
						<div class='control'>
							<button class='button is-info is-medium mr-3'>Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-tab" id="collection">
			<div class='columns is-mobile is-flex is-flex-wrap-wrap'>
				{{#each data.collections}}
					<div class='column is-3-tablet is-6-mobile mx-auto'>
						<div class='card'>
							<div class='card-image'>
								<figure class='image is-4by3'>
									<img
										alt=''
										src='{{imageUrl}}'
									/>
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<span class='tag is-dark subtitle'>Books: {{books.length}}</span>
									<p class='title is-4'>{{name}}</p>
									<p>{{description}}</p>
								</div>
							</div>
							<footer class='card-footer'>
								<a class='card-footer-item' href="/collections/{{this._id}}">Details</a>
							</footer>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="content-tab" id="books">
			<div class='columns tab-pane is-mobile is-flex is-flex-wrap-wrap'>
				WORK IN PROGRESS
			</div>
		</div>
		<div class="content-tab" id="follows">
			<div class='columns tab-pane is-mobile is-flex is-flex-wrap-wrap'>
				{{#each data.follows}}
					<div class='column is-3-tablet is-6-mobile mx-auto'>
						<div class='card'>
							<div class='card-image'>
								<figure class='image is-4by3'>
									<img alt='' src='{{imageUrl}}' />
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<span class='tag is-dark subtitle'>Collections: {{collections.length}}</span>
									<p class='title is-4'>{{username}}</p>
									<p style='height: 1.5rem;white-space: nowrap; overflow: hidden;text-overflow: ellipsis'>{{description}}</p>
								</div>
							</div>
							<footer class='card-footer'>
								<a class='card-footer-item' href='/profile/{{username}}'>See profile</a>
							</footer>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{#if session.currentUser}}
{{> forms }}
{{/if}}
