
<div class='columns'>
	<div class='container profile'>
		<div class='section profile-heading'>
			<div class='columns is-mobile is-multiline'>
				<div class='column is-2'>
					<span class='header-icon user-profile-image'>
						<img class="is-rounded" alt='' src='{{data.imageUrl}}' />
					</span>
				</div>
				<div class='column is-4-tablet is-10-mobile name'>
					<p>
						<span class='white title is-bold'>{{data.username}}</span>
					</p>
					<hr style="height: 0.5px; margin-top: 0.5rem"/>
					<p class='tagline'>
						{{data.description}}
					</p>
					<a
						class='button is-light mt-4 px-4 is-small js-modal-trigger'
						data-target='profileModal'
						id='edit-preferences'
						style='margin: 5px 0'
					>
						Edit profile
					</a>
					<a
						class='button is-light mt-4 px-4 is-small js-modal-trigger'
						data-target='avatarModal'
						id='edit-preferences'
						style='margin: 5px 0'
					>
						Edit avatar
					</a>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{data.collections.length}}</p>
					<p class='stat-key'>Collections</p>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{booksNb}}</p>
					<p class='stat-key'>Books</p>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{data.favourites.length}}</p>
					<p class='stat-key'>Favourites</p>
				</div>
				<div class='column is-1.5-tablet is-6-mobile has-text-centered'>
					<p class='stat-val'>{{data.follows.length}}</p>
					<p class='stat-key'>Followers</p>
				</div>
			</div>
		</div>
		<div class='tabs is-fullwidth'>
			<ul>
				<li onclick="openTab(event,'collection')" class='tab link is-active no-hover'>
					<a class="profile-anchor no-hover">
						<span class='icon profile-icons'>
							<i class='fa fa-list profile-icons' ></i>
						</span>
						<span class="profile-icons white">My Collections</span>
					</a>
				</li>
				<li onclick="openTab(event,'books')" class='tab link no-hover'>
					<a class="no-hover profile-anchor">
						<span class='icon'>
							<i class="fa fa-heart" ></i>
						</span>
						<span class="profile-icons white">Favourites</span>
					</a>
				</li>
				<li onclick="openTab(event,'follows')" class='tab link no-hover'>
					<a class="no-hover profile-anchor">
						<span class='icon'>
							<i class="fa fa-light fa-user" ></i>
						</span>
						<span class="profile-icons white">Followers</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="content-tab" id="collection" >
			<div class='is-flex m-5 is-justify-content-center'>
				<a 
					class='button is-success is-light js-modal-trigger is-justify-content-center' 
					data-target='createCollection'>Create a Collection
				</a>
			</div>
			<div class='columns tab-pane is-mobile is-flex is-flex-wrap-wrap' >
				{{#each data.collections}}
					<div class='column is-3-tablet is-6-mobile mx-auto'>
						<div class='card'>
							<div class='card-image'>
								<figure class='image is-4by3'>
									<img alt='' src='{{imageUrl}}' />
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<span class='tag is-dark subtitle'>Books: {{books.length}}</span>
									<p class='title is-4'>{{name}}</p>
									<p style='height: 1.5rem;white-space: nowrap; overflow: hidden;text-overflow: ellipsis'>{{description}}</p>
								</div>
							</div>
							<footer class='card-footer'>
								<a class='card-footer-item' href='/collections/{{this._id}}'>Details</a>
								<a class='card-footer-item js-modal-trigger' data-target='editCollectionForm-{{this._id}}'>Edit</a>
								<a class='card-footer-item js-modal-trigger' data-target='deleteCollectionForm-{{this._id}}'>Delete</a>
							</footer>
						</div>
					</div>
					<form action='/collections/{{this._id}}/edit' method='POST'>
						<div class='modal' id='editCollectionForm-{{this._id}}'>
							<div class='modal-background'></div>
							<div class='modal-content'>
								<div class='modal-background'></div>
								<div class='modal-card'>
									<header class='modal-card-head'>
										<p class='modal-card-title'>Edit Collection</p>
										<span class='delete update-modal-close' aria-label='close'></span>
									</header>
									<section class='modal-card-body'>
										<div class='field'>
											<label class='label'>Collection Name</label>
											<input type='text' id='update-text' name='name' class='input' value='{{this.name}}' />
										</div>
										<div class='field'>
											<label class='label'>Description</label>
											<textarea class='textarea has-fixed-size' name='description'>{{this.description}}</textarea>
										</div>
									</section>
									<footer class='modal-card-foot'>
										<button id='save' class='button is-success' type='submit'>Save changes</button>
										<span class='button update-modal-close'>Cancel</span>
									</footer>
								</div>
							</div>
						</div>
					</form>
					<form action='/collections/{{this._id}}/delete' method='POST'>
						<div class='modal' id='deleteCollectionForm-{{this._id}}'>
							<div class='modal-background'></div>
							<div class='modal-content'>
								<div class='modal-background'></div>
								<div class='modal-card'>
									<header class='modal-card-head'>
										<p class='modal-card-title'>Delete Collection</p>
										<span class='delete update-modal-close' aria-label='close'></span>
									</header>
									<section class='modal-card-body'>
										<div class='field'>
											<label class='label'>
												Are you sure you want to delete
												{{this.name}}
											</label>
										</div>
									</section>
									<footer class='modal-card-foot'>
										<button id='save' class='button is-success' type='submit'>Delete</button>
										<span class='button update-modal-close'>Cancel</span>
									</footer>
								</div>
							</div>
						</div>
					</form>
				{{/each}}
			</div>
		</div>
		<div class="content-tab" id="books" style="display:none">
			<div class='columns tab-pane is-mobile is-flex is-flex-wrap-wrap'>
				{{#each favourites}}
				<div class='column is-3 modal-button' data-target='modal-card'>
					<div class='card is-shady'>
						<div class='card-image'>
							<figure class='image is-1by1'>
								<img src='{{volumeInfo.imageLinks.thumbnail}}' alt='{{title}}' />
							</figure>
						</div>
						<div class='card-content'>
							<div class='content'>
								<h4
									style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis '
								>{{volumeInfo.title}}</h4>
								<p
									style='height: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis'
								>{{volumeInfo.authors}}</p>
								<div class='buttons'>
									<a href='/books/{{id}}' class='button is-small is-warning modal-button'>Details</a>
									<form action='/profile/{{id}}/unfavourite' method='POST' style='margin:0;'>
                          		 	<button class='button is-small is-light is-danger' >Remove from Favourites</button>
                       			 	</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="content-tab" id="follows" style="display:none">
			<div class='columns tab-pane is-mobile is-flex is-flex-wrap-wrap'>
				{{#each data.follows}}
					<div class='column is-3-tablet is-6-mobile mx-auto'>
						<div class='card'>
							<div class='card-image'>
								<figure class='image is-4by3'>
									<img alt='' src='{{imageUrl}}' />
								</figure>
							</div>
							<div class='card-content'>
								<div class='content'>
									<span class='tag is-dark subtitle'>Collections: {{collections.length}}</span>
									<p class='title is-4'>{{username}}</p>
									<p style='height: 1.5rem;white-space: nowrap; overflow: hidden;text-overflow: ellipsis'>{{description}}</p>
								</div>
							</div>
							<footer class='card-footer'>
								<a class='card-footer-item' href='/profile/{{username}}'>See profile</a>
							</footer>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{> forms }}
